$min-body-height: calc(100vh - #{$navbar-height}) !default;
$min-body-content-height: calc(100vh - #{$navbar-height} - 40px) !default;

#layouts-body {
  margin-top: $navbar-height;
  min-height: $min-body-height;
  padding: 0 0 20px;

  .remove-body-top-padding {
    margin-top: -20px;
  }
}

@media (max-width: 992px) {
  #layouts-body {
    margin-top: $navbar-height;
  }
}

body {
  font-weight: 100;
  letter-spacing: 1px;
}

form {
  label {
    font-weight: 100;
  }
}



@media (min-width: $screen-md-min) {
  .docs-header {
    padding-top: 16rem;
    padding-bottom: 18rem;
    font-size: 24px;
    text-align: left;
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media (min-width: $screen-sm-min) {
  .docs-header {
    padding-top: 10rem;
    padding-bottom: 12rem;
    font-size: 24px;
    text-align: left;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: $screen-xs-min) {
  .docs-header {
    padding-top: 4rem;
    padding-bottom: 6rem;
    font-size: 24px;
    text-align: left;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}


.docs-header {
  position: relative;
  border-bottom: 1px solid rgba(24,24,24,.1);
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #1e1e26;
}

.lower-alpha {
  list-style-type: lower-alpha;
}
