#layouts-body {
  margin-top: $navbar-height;
  min-height: $min-body-height;
}

@media (max-width: 992px) {
  #layouts-body {
    margin-top: 100px;
  }
}

body {
  font-weight: 100;
  letter-spacing: 1px;
}

form {
  label {
    font-weight: 100;
  }
}
