$min-body-height: calc(100vh - #{$navbar-height}) !default;

#layouts-body {
  margin-top: $navbar-height;
  min-height: $min-body-height;
  padding: 20px 0;
}

@media (max-width: 992px) {
  #layouts-body {
    margin-top: $navbar-height;
  }
}

body {
  font-weight: 100;
  letter-spacing: 1px;
}

form {
  label {
    font-weight: 100;
  }
}
