#layouts-footer {
  background-color: #18264C;
  .links {
    padding: 50px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;

    .links-section {
      padding: 15px 0;
      width: inherit;
      max-width: 250px;
      margin: 0 auto;
      flex-grow: 1;
      .header {
        font-size: $font-size-large;
      }
      ul {
        margin: 20px auto 0;
        list-style: none;
        padding-left: 0;
        li {
          font-size: $font-size-base;
          color: $gray-text;
          max-width: 200px;
          a {
            text-decoration: none;
          }
        }
      }
      .footer-brand {
        width: 150px;
      }
    }
  }

  hr {
    margin: 0;
    border-color: $gray-text;
  }

  .others {
    padding: 15px 0;
    font-size: $font-size-base;
    color: $gray-text;
    .copy-right {
      float: left;
    }

    .social {
      float: right;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
}
