#layouts-navbar {
  height: $navbar-height;
  background-color: white;
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 0;
  padding: 0 10px;
  > div {
    .navbar-header {
      .navbar-brand {
        padding: 15px;
        img {
          max-height: 70px;
        }
      }
      .navbar-toggle {
        margin-top: 33px;
        margin-bottom: 33px;
      }
    }

    .navbar-collapse {
      background-color: white;
      .navbar-nav {
        > li {
          padding: 0;
          border-top: 5px solid transparent;
          height: 100%;
          &:hover:not(.get-started) {
            border-top: 5px solid $brand-primary;
          }
          &.get-started {
            a {
              padding: 28px 15px;
              div {
                color: $white-text;
                padding: 5px 10px;
                font-weight: 100;
                background-color: $brand-info;
              }
              &:hover, &:focus {
                div {
                  color: $white-text;
                  background-color: $btn-info-hover-bg;
                  border-color: $btn-info-hover-border;
                }
              }
            }
          }
          &.profile {
            > a {
              padding: 15px;
              div {
                img {
                  height: 65px;
                  width: 65px;
                  border-radius: 20px;
                }
                i {
                  margin-left: 5px;
                }
              }
            }
          }
          &.conversations, &.notifications {
            position: relative;
            > a {
              padding: 32px 5px;
              .badge {
                position: absolute;
                top: 28px;
                right: 0px;
                background-color: red;
              }
            }
          }
          > a {
            padding: 35px 15px;
            height: 100%;
            font-size: ($font-size-base * 1.1);
            text-transform: uppercase;
            cursor: pointer;
            font-weight: 400;
            >span {
              color: $brand-primary;
            }
          }
        }
      }
    }

    .navbar-collapse.in, .navbar-collapse.collapsing {
      width: inherit;
      border-bottom: 1px solid $gray-lighter;
      .navbar-nav {
        height: inherit;
        > li {
          padding: 0;
          &.li-btn {
            padding: 0;
          }
          &.get-started {
            a {
              padding: 0;
            }
          }
          &.profile {
            > a {
              padding: 10px 0;
              width: inherit;
            }
          }
          &.conversations, &.notifications {
            > a {
              .badge {
                margin-left: 5px;
                position: relative;
                right: inherit;
                top: -2px;
              }
            }
          }
          > a {
            padding: 10px 0;
            text-align: center;

            > span, > button {
              font-size: inherit;
            }
          }
        }
      }
    }
  }
}
