#layouts-navbar {
  height: 100px;
  background-color: white;
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 0;
  padding: 0 10px;

  > div {
    height: 100%;

    .navbar-header {
      height: 100%;

      .navbar-brand {
        height: 100%;
        img {
          height: 100%;
        }
      }

      .navbar-toggle {
        margin-top: 33px;
        margin-bottom: 33px;
      }
    }

    .navbar-collapse {
      background-color: white;

      .navbar-nav {
        height: 98px;

        li {
          padding: 23px 15px;
          &:hover:not(.li-btn) {
            border-bottom: 5px solid $brand-primary;
          }
          &.li-btn {
            padding: 28px 15px;
          }
          > a {
            // font-size: large;
            text-transform: uppercase;
            cursor: pointer;
            >span {
              color: $brand-primary;
            }
            &.btn {
              color: $white-text;
              padding: 8px 15px;
              &:hover {
                color: $white-text;
                background-color: $btn-info-hover-bg;
                border-color: $btn-info-hover-border;
              }
            }
          }
        }
      }

      .navbar-nav:last-child {
        float: right;
      }
    }

    .navbar-collapse.in, .navbar-collapse.collapsing {
      width: 100vw;
      border-bottom: 1px solid $gray-lighter;

      .navbar-nav {
        height: inherit;

        li {
          padding: 0;
          &.li-btn {
            padding: 0;
          }
          > a {
            padding: 10px 0;
            text-align: center;

            >span, >button {
              font-size: inherit;
            }
          }
        }
      }

      .navbar-nav:last-child {
        float: none;
      }
    }
  }
}
