#page-my-investor-validations-index {
  .validations {
    .completed, .incomplete, .pending {
      text-align: center;

      .status-icon i {
        border-radius: 100%;
        color: white;
      }

      .section-title {
        color: $ahub-pink;
        font-size: 18px;
        font-weight: bold;
      }

      .list {
        text-align: left;
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 5px;

          i {
            font-size: 9px;
            border-radius: 100%;
            color: white;
          }
        }
      }
    }

    .completed {
      .status-icon i {
        background-color: $brand-success;
        padding: 15px;
      }

      .list li i{
        padding: 3px 2.5px;
        background-color: $brand-success;
      }
    }

    .incomplete {
      .status-icon i {
        background-color: $ahub-pink;
        padding: 15px 18px;
        opacity: 0.5;
      }

      .section-title {
        opacity: 0.5;
      }

      .list {
        opacity: 0.5;

        li i {
          padding: 3px 3.625px;
          background-color: $ahub-pink;
        }
      }
    }

    .pending {
      .status-icon i {
        background-color: $brand-warning;
        padding: 15px 18px;
      }

      .list li i{
        padding: 3px 3.625px;
        background-color: $brand-warning;
      }
    }
  }
}