#page-my-investor-validations-verification {
  .status-icon {
    text-align: center;

    .warning {
      background-color: $ahub-gold;
      padding: 15px 25px;
    }

    .success {
      background-color: $brand-success;
    }

    i {
      border-radius: 100%;
      // color: white;
      padding: 15px;
    }
  }

  .photo-upload {
    .big-number {
      font-size: 40px;
      margin: 0;
      font-weight: bold;
    }
  }
}