{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true,
  },
  "globals": {
    "moment": true,
    "_": true
  },
  "extends": "airbnb",
  "rules": {
    "jsx-a11y/media-has-caption": 0,
    "no-underscore-dangle": 0,
    "react/no-danger": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "react/no-unescaped-entities": 0,
    "no-param-reassign": 0,
    "no-restricted-syntax": 0,
    "no-prototype-builtins": 0,
    "no-lonely-if": 0,
    "class-methods-use-this": 0,
    "no-plusplus": 0,
    "react/no-array-index-key": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "import/prefer-default-export": 0,
    "react/no-render-return-value": 0,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,
    "react/jsx-no-bind": 0,
    "camelcase": 0,
    "default-case": 0,
    "comma-dangle": 0,
    "consistent-return": 0,
    "no-new": 0,
    "prefer-template": 0,
    "quotes": 0,
    "new-cap": 0,
    "no-else-return": 0,
    "arrow-body-style": 0,
    "no-use-before-define": 0,
    "space-before-function-paren": [2, { "anonymous": "never", "named": "never" }],
    "max-len": [1, 200, 2, {"ignoreComments": true, "ignoreRegExpLiterals": true, "ignoreStrings": true}],
    "semi": [2, "never"]
  }
}
