#shared-others-side-title {
  text-align: center;

  &.color-primary {
    div {
      border-right: 2px solid $ahub-gold;
    }

    .title {
      color: $ahub-gold;
    }
  }

  div {
    display: inline-block;
    border-right: 2px solid $ahub-blue;
    padding-bottom: 15px;

    .number {
      padding: 0 4px;
      color: $ahub-blue;
      border-bottom: 1px solid $ahub-blue;
    }

    .title {
      color: $ahub-blue;
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
      text-transform: uppercase;
      font-size: $font-size-large;
      letter-spacing: 8px;
    }
  }
}
