.tab-nav {
  > div {
    display: flex;
    flex-direction: row;
    justify-content: spaced-between;
  }

  .tab-item {
    flex-grow: 1;
    text-align: center;
    padding: 20px 0;
    color: #444;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    &.active, &:hover {
      font-weight: bold;
      color: $ahub-blue;
    }

    &.disabled {
      cursor: not-allowed;

      &:hover {
        font-weight: initial;
      }

      &.active {
        font-weight: bold;
      }
    }

    &:not(.active) {
      color: $ahub-lgray;
    }
  }
}