.tab-nav {
  > div {
    display: flex;
    flex-direction: row;
    justify-content: spaced-between;
  }

  .tab-item {
    flex-grow: 1;
    text-align: center;
    padding: 20px 0;
    color: #444;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    &.error {
      font-weight: bold;
      color: $ahub-pink !important;
    }
    &.active {
      &:hover {
        cursor: default;
      }
      font-weight: bold;
      color: $ahub-blue;
    }
    &:hover:not(.active) {
      text-decoration: underline;
    }

    &.disabled {
      cursor: not-allowed;

      &.active {
        font-weight: bold;
      }
    }

    &:not(.active) {
      color: $ahub-lgray;
    }
  }
}