#my-campaigns-edit {
  .tab-nav {
    margin-bottom: 15px;
    > div {
      display: flex;
      flex-direction: row;
      justify-content: spaced-between;
    }

    .tab-item {
      flex-grow: 1;
      text-align: center;
      padding: 20px 0;
      color: #444;
      position: relative;
      text-transform: uppercase;
      &.active {
        font-weight: bold;
        color: $ahub-blue;
      }

      &:not(.active) {
        color: $ahub-lgray;
      }
    }
  }
}
