#shared-my-campaigns-stages {
  .stage-nav {
    background-color: #aaa;
    margin-bottom: 10px;
   -moz-box-shadow:    inset 0 0 10px #777;
   -webkit-box-shadow: inset 0 0 10px #777;
   box-shadow:         inset 0 0 10px #777;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: spaced-between;
    }

    .stage-item {
      flex-grow: 1;
      text-align: center;
      padding: 20px 0;
      color: #fff;
      position: relative;
      text-transform: uppercase;
      &.bg-info {
        font-weight: bold;
        &:after {
          content: " ";
          position: absolute;
          left: 46%;
          opacity: 1;
          margin: 0 auto;
          bottom: 0px;
          border: 10px solid transparent;
          border-bottom-color: #fff;
        }
      }
    }
  }
}