#page-auth-login {
  #forms-auth-login {
    .forgot-password {
      text-align: right;
      color: $ahub-blue;
    }
  }

  .create-account {
    padding: 15px;
    text-align: center;
    a {
      font-weight: 400;
    }
  }
}
