#page-auth-signup {
  .signup-wrapper {
    p {
      color: $gray-light;
      font-size: $font-size-large;
    }
  }

  .selector {
    .have-account {
      text-align: center;
      font-size: $btn-font-size-base;
      color: $gray-light;
      a {
        font-weight: bolder;
      }
    }
  }
}
