#page-auth-signup {
  .tnc {
    text-align: center;
    padding: 15px;
    border: 2px solid $gray-lighter;
    background-color: rgb(237,238,238);
    color: $gray-light;
    a {
      font-weight: 800;
      cursor: pointer;
    }
  }

  #forms-auth-signup {
    padding: 20px;
    border: 2px solid $gray-lighter;
    .row + .row {
      margin-top: 0;
    }
    p {
      color: $gray-light;
      font-size: $font-size-large;
    }
    .form-title {
      font-size: $font-size-h2;
      color: $brand-primary;
    }

    .warning-agreement {
      .content {
        border: 1px solid black;
        padding: 10px;
        height: 200px;
        overflow: auto;
        margin-bottom: 10px;
      }
    }

    label {
      color: $gray;
      font-weight: 400;
      &.radio-group {
        span {
          margin-left: 10px;
          font-weight: 800;
        }
      }
    }
    .forgot-password {
      color: $brand-primary;
      font-weight: 400;
    }
    .btn {
      font-size: $btn-font-size-base;
      margin-bottom: 15px;
      i {
        margin-right: 25px;
      }
    }

    .have-account {
      text-align: center;
      font-size: $btn-font-size-base;
      color: $gray-light;
      a {
        font-weight: bolder;
      }
    }
  }
}
