#page-auth-signup, #page-auth-signup-investor, #page-auth-signup-startup {
  .signup-wrapper {
    padding: 20px;
    border: 2px solid $gray-lighter;

    .title {
      font-size: $font-size-h2;
      color: $brand-primary;
    }

    p {
      color: $gray-light;
      font-size: $font-size-large;
    }
  }

  .selector {
    .have-account {
      text-align: center;
      font-size: $btn-font-size-base;
      color: $gray-light;
      a {
        font-weight: bolder;
      }
    }
  }

  .warning-agreement {
    .content {
      border: 1px solid black;
      padding: 10px;
      height: 200px;
      overflow: auto;
      margin-bottom: 10px;
    }
  }

  .tnc {
    text-align: center;
    padding: 15px;
    border: 2px solid $gray-lighter;
    background-color: rgb(237,238,238);
    color: $gray-light;
    a {
      font-weight: 800;
      cursor: pointer;
    }
  }

  #forms-auth-signup-startup {
    padding: 30px;
    border: 2px solid $gray-lighter;
    .form-title {
      font-size: $font-size-h2;
      color: $brand-primary;
    }
    label {
      color: $gray-light;
      font-weight: 400;
    }
    .btn {
      font-size: $btn-font-size-base;
      font-weight: 100;
      i {
        margin-right: 25px;
      }
    }
  }
}
