$list-status-bubble-spacing: 5px;
$list-campaign-logo-size: 90px;
$list-overlap-bot-space: -30px;
$list-campaign-name-left-space: 100px;

@media (min-width: 768px) {
  #shared-campaigns-list {
    display: flex;
    flex-wrap: wrap;
  }
}

#shared-campaigns-list {
  .campaign-card {
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;

    > div, > a {
      flex: 0 1 auto;
    }

    .card-banner-wrapper {
      border: 1px solid $gray-text;
      border-bottom-color: transparent;
      padding: 0;
      position: relative;
      z-index: 999;

      .card-banner {
        height: 200px;
        background-position: center;
        background-size: cover;

        &:hover {
          text-decoration: none;
          box-shadow: 1px 1px 5px $gray-lighter;
        }
      }

      .campaign-logo {
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $white;
        width: $list-campaign-logo-size;
        height: $list-campaign-logo-size;
        left: $list-status-bubble-spacing;
        bottom: $list-overlap-bot-space;
      }

      .status-bubble {
        position: absolute;
        right: $list-status-bubble-spacing;
        bottom: $list-status-bubble-spacing;
        span {
          border-radius: 0;
        }
      }

      .active-bubble {
        position: absolute;
        right: $list-status-bubble-spacing;
        top: $list-status-bubble-spacing;
        border-radius: 0;
        span {
          border-radius: 0;
        }
      }

      .name {
        position: absolute;
        left: $list-campaign-name-left-space;
        bottom: $list-overlap-bot-space;
        color: black;
        margin: 0;
      }
    }

    .card-info {
      border: 1px solid $gray-text;
      border-top-color: transparent;
      flex: 1 auto;
      display: flex;
      flex-flow: column nowrap;
      padding: 38px 15px 15px;

      .stats {
        flex: 0 1 auto;
        font-weight: 100;
        width: 100%;
      }

      .name {
        text-align: left;
        font-size: ($font-size-base * 1.2);
      }

      .stats {
        > div {
          margin: 0 0 8px;
        }

        .progress {
          height: 10px;
          border-radius: 5px;

          .progress-bar {
            background-color: $ahub-pink;
          }
        }

        .investment-stat {
          div:first-child {
            float: left;
            color: $ahub-pink;
          }

          div:last-child {
            float: right;
          }
        }

        .description {
          overflow: hidden;
          height: 40px;
          line-height: 20px;
          text-align: left;

          &:before {
            content:"";
            float: left;
            width: 5px;
            height: 40px;
          }

          & > *:first-child {
            float: right;
            width: 100%;
            margin-left: -5px;
          }

          &:after {
            content:"\02026";
            box-sizing: content-box;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            float: right;
            position: relative;
            top: -20px;
            left: 100%;
            width: 50px;
            margin-left: -50px;
            padding-right: 5px;
            text-align: right;
            background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
            background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
            background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
            background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
            background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
          }
        }

        .read-more {
          margin: 0 -15px -15px;
          width: initial;
        }
      }
    }
  }
}
