#shared-campaigns-profile {
  .header {
    .startup-banner {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: black;
      position: relative;
      text-align: center;

      .startup-avatar {
        margin: 15px 0;
        padding: 15px;
        background-color: white;
        width: 150px;
        height: auto;
      }

      .campaign-name, .startup-name, .startup-tagline {
        margin: 0 auto 15px;
        color: white;
        line-height: 30px;
      }
    }
  }

  .body {
    margin-top: 15px;

    .campaign {
      @media (min-width: 768px) {
        .campaign-stats {
          display: flex;
          flex-direction: row;
        }
      }

      .campaign-stats {
        .left, .right {
          display: flex;
          flex-direction: column;

          .stat-group {
            padding: 15px 0;
            flex-grow: 1;

            div:first-child {
              font-size: ($font-size-base * 1.5);
              font-weight: bold;
            }
            div:last-child {
              font-size: ($font-size-base * 1.2);
            }
          }

          .stat-group:first-child {
            padding-right: 7.5px;
          }

          .stat-group:last-child {
            padding-left: 7.5px;
          }

          .stat-group:not(:first-child):not(:last-child) {
            padding-right: 7.5px;
            padding-left: 7.5px;
          }
        }

        .left {
          .valuation-type {
            margin: 5px 0;
          }

          .finance-stat {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-grow: 1;
          }
        }

        .right {
          .progress {
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: $white;
            border: 2px solid $brand-primary;
            height: 12px;
            .progress-start, .progress-end {
              position: absolute;
              margin-top: -10px;
              padding: 12px;
              border-radius: 20px;
              border: 2px solid $brand-primary;
              background-color: $white;
              &.filled {
                background-color: $brand-primary;
              }
            }
            .progress-start {
              left: 10px;
              border-right-width: 0;
            }
            .progress-end {
              right: 10px;
              border-left-width: 0;
            }
          }

          .amount-stat {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-grow: 1;
          }
        }

        .pledge {}
      }
    }

    .startup {
      position: relative;
      height: inherit;

      .auto-affix {
        .sidebar-wrapper {
          position: relative !important;
          top: 0 !important;

          .scrollto {
            li {
              padding: 1rem 0;
              a {
                border-right: 5px solid transparent;
                padding-right: 3rem;
                color: $gray-light;
                font-size: ($font-size-base * 1.2);
                cursor: pointer;
                &.active {
                  color: $brand-primary;
                  font-weight: bold;
                  border-right-color: $brand-primary;
                }
              }
            }
          }

          ul {
            padding: 0;
            list-style: none;
            text-align: right;
            &.links {
              text-align: left;
              li {
                font-size: ($font-size-base * 1.2);
                padding: 15px;
                color: $gray-light;
                vertical-align: middle;
                i {
                  font-size: ($font-size-base * 1.4);
                  margin-right: 20px;
                  color: $brand-primary;
                  vertical-align: middle;
                }
                span {
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }

      .startup-content {
        .section {
          margin-bottom: 20px;
          position: relative;
          .h3 {
            margin-top: 0;
            color: $brand-primary;
            // border-bottom: 1px solid $brand-primary;
            font-size: ($font-size-base * 1.2);
            margin-bottom: 0.5em;
          }
          &:not(:first-child) {
            margin-top: 20px;
          }
          .h2 {
            margin-top: 0;
            color: $brand-primary;
            font-weight: bold;
            border-bottom: 1px solid $brand-primary;
            line-height: 45px;
            margin-bottom: 3rem;
          }
          p {
            font-size: ($font-size-base * 1.1);
            font-weight: 200;
          }
          .highlights {
            li {
              color: darken(#FF7538, 20%);
            }
          }
          .milestone {
            .h3 {
              margin-top: 0;
              color: $brand-primary;
              // border-bottom: 1px solid $brand-primary;
              font-size: ($font-size-base * 1.2);
              margin-bottom: 0.5em;
            }
            ul {
              li {
                margin-bottom: 10px;
              }
            }
          }
          &.team {
            .team-story {
              font-size: $font-size-base;
              color: $gray-light;
            }
            .h3 {
              margin-top: 0;
              color: $brand-primary;
              font-size: ($font-size-base * 1.2);
              margin-bottom: 0.5em;
            }
            .team-founder {
              .full-width {
                width: 100%;
              }
              .title {
                font-size: ($font-size-base * 0.9);
                display: block;
                text-transform: capitalize;
              }
              .description {
                font-size: ($font-size-base * 0.9);
                display: block;
              }
            }
            .team-member {
              .full-width {
                width: 100%;
              }
              span {
                display: block;
                &.title {
                  font-size: ($font-size-base * 0.9);
                }
              }
            }
          }

          .documents {
            &.blur {
              -webkit-filter: blur(4px);
              -moz-filter: blur(4px);
              -o-filter: blur(4px);
              -ms-filter: blur(4px);
              filter: blur(4px);
            }
          }

          .access {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -20px;
            margin-left: -75px;
          }

          ul {
            margin: 0;
            li {
              list-style: none;
              font-size: ($font-size-base * 1.1);
              margin-bottom: 10px;
              &:before {
                content: "\f054"; /* FontAwesome Unicode */
                font-family: FontAwesome;
                display: inline-block;
                margin-left: -1.5em; /* same as padding-left set on li */
                width: 1.5em; /* same as padding-left set on li */
                font-size: ($font-size-base * 0.9);
              }
            }
            &.list {
              li {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.attachment-list {
  list-style: none;
  li {
    display: inline-block;
    position: relative;
    width: 100%;
  }
}
