.btn-gray {
  color: $gray-text;
  cursor: pointer;
  &:hover {
    color: $white-text;
  }
}

.btn-white {
  border-color: $white-text;
  color: $white-text !important;
  &:hover {
    color: $gray-base !important;
    background-color: $white-text;
  }
}

// in your file
.btn-linked-in {
  @extend .btn-info;
  background-color: $brand-linked-in;
  // more stuff
}


.btn-outline {
  background-color: transparent;
  color: inherit;
  .btn-primary {
    color: $brand-primary;
  }
  .btn-success {
    color: $brand-success;
  }
  .btn-info {
    color: $brand-info;
  }
  .btn-warning {
    color: $brand-warning;
  }
  .btn-danger {
    color: $brand-danger;
  }
  .btn-white {
    color: $white-text;
  }
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: $white-text;
}
