.btn-gray {
  color: $gray-text;
  cursor: pointer;
  &:hover {
    color: $white-text;
  }
}

// in your file
.btn-linked-in {
  @extend .btn-info;
  background-color: $brand-linked-in;
  // more stuff
}
