$input-placeholder-transition: all 0.2s;
$input-border: 1px solid #ccc;
$input-border-focus: 1px solid #666;

.form-title, .page-title-l, .page-title-c {
  margin-top: 0;
  margin-bottom: 20px;
  color: $ahub-black;
  // font-size: $font-size-h3;
  letter-spacing: 5px;
  // font-weight: bold;
  text-transform: uppercase;
}

.help-text {
  color: $gray-light;
}

.page-title-c {
  text-align: center;

  &.capitalize {
    text-transform: capitalize;
  }
}

.page-title-l {
  text-align: left;
}

.form-group {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 20px;

  &.flex-column {
    flex-flow: column;
  }

  .form-control:not(textarea) {
    height: 28px;
  }

  textarea.form-control {
    border: 0;
    border-bottom: $input-border;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    background-color: #fcfcfc;
    &:focus {
      border-bottom: $input-border-focus;
    }
  }

  .help-block {
    margin: 0;
    font-size: 12px;
    display: inline;
    line-height: 19px;

    &.hint {
      margin-bottom: 5px;
      color: #777 !important;
      display: block;
    }
    > a {
      display: block;
      margin-top: 2px;
      color: $ahub-pink;
      text-decoration: underline;
    }
  }

  .input-group {
    border-bottom: $input-border;

    input, .dropdown-toggle {
      border: 0;

      &:focus {
        border: 0;
      }
    }

    .input-group-addon {
      background-color: white;
      border: 0;
    }

    &:focus-within {
      border-bottom: $input-border-focus;
    }
  }

  // Normal Floating Label Start
  label, input, select {
    transition: $input-placeholder-transition;
    touch-action: manipulation;
  }

  label {
    margin: 0;
  }

  input {
    padding: 0;
    border: 0;
    border-bottom: $input-border;
    border-radius: 0;
    box-shadow: none !important;
    cursor: text;

    &:focus {
      border-bottom: $input-border-focus;
    }

    &.has-label {
      &::placeholder {
        opacity: 0;
        transition: $input-placeholder-transition;
      }

      &:focus::placeholder {
        opacity: 1;
      }
    }

    &:placeholder-shown + label {
      cursor: text;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transform-origin: left bottom;
      transform: translateY(24px);
      pointer-events: none;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      transform: translate(0, 0);
      cursor: pointer;
    }
  }
  // Normal Floating Label End
}

.rw-dropdown-list, .rw-multiselect, .rw-datetime-picker {
  .rw-widget-picker {
    padding: 0;
    border: 0;
    border-bottom: $input-border;
    border-radius: 0;
    box-shadow: none !important;
    height: 27px;
    .rw-input, input {
      height: 27px;
      padding: 0;
      border: 0;
    }

    .rw-input[disabled] {
      background-color: #fff;
    }

    &.has-label {
      .rw-placeholder, ::placeholder {
        opacity: 0;
        transition: $input-placeholder-transition;
      }
    }
  }

  & + label {
    cursor: text;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translateY(24px);
    pointer-events: none;
  }

  & + label.has-value {
    transform: translate(0, 0);
    cursor: pointer;
  }

  &.rw-open, &.rw-state-focus {
    .rw-widget-picker {
      border-bottom: $input-border-focus;

      &.has-label {
        .rw-placeholder, ::placeholder {
          opacity: 1;
        }
      }
    }

    & + label {
      transform: translate(0, 0);
      cursor: pointer;
    }
  }
}

.file-drop-field {
  .drop-zone {
    width: 100%;
    height: 200px;
    border: 2px dashed;

    &:not(:only-child) {
      margin-bottom: 20px;
    }
  }

  .file-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .file-item-wrapper {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .file-item {
        display: flex;

        .file-drop-file-field {
          flex: 3 1 auto;
          line-height: 28px;
          height: 28px;
          width: 50px;
          border: $input-border;
          padding: 0 5px 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: $gray-light;
        }

        .file-drop-title-field {
          flex: 2 1 auto;
          width: 50px;
          color: $gray-light;
          .rw-dropdown-list-input {
            text-align: right;
          }
          .rw-dropdown-list {
            border: $input-border;
            .rw-widget-picker {
              border: 0;
              height: 26px;

              .rw-input {
                height: 26px;
                padding-left: 5px;
                padding-right: 5px;
              }
            }
          }
        }

        .preview {
          flex: 0 1 auto;

          button {
            padding: 4.5px 10px;
          }
        }

        .delete {
          flex: 0 1 auto;

          button {
            border: 0;
            padding: 4.5px 10px;
          }
        }
      }
    }
  }
}

.dynamic-field, .static-field {
  .field-header {
    margin-bottom: 20px;
    label, span {
      margin: 0;
    }
  }

  .group-header {
    margin-bottom: 15px;

    .group-name {
      text-transform: uppercase;
      color: $ahub-pink;
      float: left;
    }
  }

  .add {
    border: 0;
    color: $ahub-pink;
  }
}

.file-field {
  .file-field-content {
    height: 28px;
    border-bottom: $input-border;

    .file-field-label {
      display: flex;

      .btn {
        padding: 3.5px 10px;
      }

      .form-control {
        flex: 1 1 auto;
        height: 27px;
        line-height: 27px;
        border: 0;
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    & + label {
      cursor: text;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transform-origin: left bottom;
      transform: translateY(24px);
      pointer-events: none;
    }

    & + label.has-value {
      transform: translate(0, 0);
      cursor: pointer;
    }
  }
}

.currency-field {
  .dropdown-toggle {
    padding: 4px 10px 4px 0;
    border-top: 0;
    border-left: 0;
  }
}

.rte-editor {
  min-height: 150px;
  &:focus-within, &:hover {
    .rte-toolbar {
      height: auto;
      // border-bottom: none;
      > div {
        opacity: 1;
        visibility: visible;
      }
    }
    .rte-content {
      min-height: 80px;
    }
  }
  .rte-toolbar {
    transition: height 300ms ease-in;
    height: 0;
    border-bottom: none;
    > div {
      transition: all 150ms ease-in;
      opacity: 0;
      visibility: hidden;
    }
  }
  .rte-content {
    .public-DraftEditor-content {
      min-height: 90px;
      max-height: 400px;
    }
  }
}
