$input-placeholder-transition: all 0.2s;

.form-title, .page-title-l, .page-title-c {
  margin-top: 0;
  margin-bottom: 20px;
  color: $brand-primary;
  font-size: $font-size-h3;
  font-weight: bold;
  text-transform: uppercase;
}

.page-title-c {
  text-align: center;
}

.page-title-l {
  text-align: left;
}

.form-group {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 20px;

  .form-control {
    height: 28px;
  }

  label, input, select {
    transition: $input-placeholder-transition;
    touch-action: manipulation;
  }

  label {
    margin: 0;

  }

  input {
    padding: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none !important;
    cursor: text;

    &:focus {
      border-bottom: 1px solid #666;
    }

    &.has-label {
      &::placeholder {
        opacity: 0;
        transition: $input-placeholder-transition;
      }

      &:focus::placeholder {
        opacity: 1;
      }
    }

    &:placeholder-shown + label {
      cursor: text;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transform-origin: left bottom;
      transform: translateY(24px);
      pointer-events: none;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      transform: translate(0, 0);
      cursor: pointer;
    }
  }

  .rw-datetime-picker {

  }

  .rw-dropdown-list, .rw-multiselect, .rw-datetime-picker {
    .rw-widget-picker {
      padding: 0;
      border: 0;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
      box-shadow: none !important;
      height: 28px;
      .rw-input, input {
        height: 28px;
        padding: 0;
        border: 0;
      }

      &.has-label {
        .rw-placeholder, ::placeholder {
          opacity: 0;
          transition: $input-placeholder-transition;
        }
      }
    }

    & + label {
      cursor: text;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transform-origin: left bottom;
      transform: translateY(24px);
      pointer-events: none;
    }

    & + label.has-value {
      transform: translate(0, 0);
      cursor: pointer;
    }

    &.rw-open {
      .rw-widget-picker {
        border-bottom: 1px solid #666;

        &.has-label {
          .rw-placeholder, ::placeholder {
            opacity: 1;
          }
        }
      }

      & + label {
        transform: translate(0, 0);
        cursor: pointer;
      }
    }
  }

  .help-block {
    margin: 0;
    font-size: 12px;
    display: inline;
    line-height: 19px;

    &.hint {
      margin-bottom: 5px;
      color: #777 !important;
      display: block;
    }
  }
}