// auto add margin top when multi row is used
.row + .row {
  margin-top: 15px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.border-radius-0 {
  border-radius: 0;
}

.border-none {
  border: 1px solid transparent;
}

.aspect-16-9 {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative
}

$directions: '', '-top', '-left', '-right', '-bottom';
$paddingSizes: 0, 5, 10, 15, 20, 30, 40, 50;
@each $direction in $directions {
  @each $padding in $paddingSizes {
    .padding#{$direction}-#{$padding} {
      padding#{$direction}: #{$padding}px !important;
    }
  }
}

$marginSizes: 0, 5, 10, 15, 20, 30, 40, 50;
@each $direction in $directions {
  @each $margin in $marginSizes {
    .margin#{$direction}-#{$margin} {
      margin#{$direction}: #{$margin}px !important;
    }
  }
}

$directions: 'top', 'left', 'right', 'bottom';
$spacing: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50;
@each $direction in $directions {
  @each $size in $spacing {
    .#{$direction}-#{$size} {
      #{$direction}: #{$size}px;
    }
  }
}

@each $direction in $directions {
  @each $size in $spacing {
    .#{$direction}-minus-#{$size} {
      #{$direction}: -#{$size}px;
    }
  }
}
