$directions: '', 'top', 'left', 'right', 'bottom';
$paddingSizes: 0, 5, 10, 15, 20, 30, 40, 50;
@each $direction in $directions {
  @if $direction == '' {
    @each $padding in $paddingSizes {
      .px-#{$padding} {
        padding: #{$padding}px !important;
      }
    }
  } @else {
    @each $padding in $paddingSizes {
      .px-#{$direction}-#{$padding} {
        padding-#{$direction}: #{$padding}px !important;
      }
    }
  }
}

$marginSizes: 0, 5, 10, 15, 20, 30, 40, 50;
@each $direction in $directions {
  @if $direction == '' {
    @each $margin in $marginSizes {
      .margin-#{$margin} {
        margin: #{$margin}px !important;
      }
    }
  } @else {
    @each $margin in $marginSizes {
      .margin-#{$direction}-#{$margin} {
        margin-#{$direction}: #{$margin}px !important;
      }

      .margin-#{$direction}-n-#{$margin} {
        margin-#{$direction}: -#{$margin}px !important;
      }
    }
  }
}

$directions: 'top', 'left', 'right', 'bottom';
$spacing: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50;
@each $direction in $directions {
  @each $size in $spacing {
    .#{$direction}-#{$size} {
      #{$direction}: #{$size}px !important;
    }
  }
}

@each $direction in $directions {
  @each $size in $spacing {
    .#{$direction}-minus-#{$size} {
      #{$direction}: -#{$size}px !important;
    }
  }
}

// Font Weight
$weights: 400,500,700,800;
@each $weight in $weights {
  .fw-#{$weight} {
    font-weight: #{$weight} !important;
  }
}

@mixin border-radius($pixel...) {
  border-radius: $pixel;
}

.fs-28 {
  font-size: 28px !important;
}

// auto add margin top when multi row is used
.row + .row {
  margin-top: 20px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.border-radius-0 {
  border-radius: 0;
}

.border-none {
  border: 0;
}

.aspect-16-9 {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative
}

.display-block {
  display: block;
}

.position-absolute {
  position: absolute;
}

.pointer {
  cursor: pointer
}

.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

.clear-both {
  clear: both;
}

.diamond, .diamond-filled {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 2px solid $brand-primary;
  position: absolute;
  left: 50%;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.5s ease-in-out;
     -moz-transition: 0.5s ease-in-out;
       -o-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
  &:hover {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .inner {
    width: 25px;
    height: 25px;
    margin: 10px auto;
    background-color: $brand-primary;
  }
}

.diamond-filled {
  background-color: $brand-primary;
}

.bg-dark {
  background-color: $ahub-black;
  color: $white-text;
}
.bg-white {
  background-color: $white;
}

// .bg-primary {
//   background-color: $brand-angelhub-blue;
// }
.bg-black {
  background-color: $ahub-black;
}
.bg-info {
  background-color: $brand-info;
}

.bg-opportunities {
  background-color: $brand-primary;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(24, 38, 76, 0.8), rgba(24, 38, 76, 0.8)), url($opportunity_ad_bg);
  background-image: -webkit-linear-gradient(top, rgba(24, 38, 76, 0.8), rgba(24, 38, 76, 0.8)), url($opportunity_ad_bg);
}

.bg-connected {
  background-repeat: repeat-y;
  background-size: contain;
  background-image: linear-gradient(to bottom, rgba(255,255,255, 0.8), rgba(255,255,255, 0.8)), url($how_it_works_bg);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255, 0.8), rgba(255,255,255, 0.8)), url($how_it_works_bg);
  &.right-side {
    background-position: right center;
  }
}

.list-style-none {
  list-style: none !important;
  li {
    &:before {
      content: '' !important;
    }
  }
}

.inline-block {
  margin: 0 5px;
  display: inline-block;
}

a:hover {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
}
.border-bottom {
  border-bottom: 1px solid $gray-base;
}
.text-hover-none {
  &:hover {
    text-decoration: none;
  }
}
.text-gold {
  color: $brand-primary;
}
.text-black {
  color: $ahub-black;
}
.text-green {
  color: $ahub-green;
}
.padding-lg {
  padding: 10px;
}

.height-200 {
  height: 200px !important;
}
.height-5 {
  height: 5px !important;
}
.dp-ib {
  display: inline-block;
}

.fa-rotate-35-on-hover {
  transition: 300ms ease all;
  &:hover {
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    transform: rotate(35deg);
  }
}

.text-gray {
  color: $gray-light;
}
.text-white {
  color: $white;
}

.anchor-link {
  color: #b73261;
  text-decoration: underline;
}
.border-vertical-small {
  border-left: 1px solid $gray-light;
}
.w-50 {
  width: 50%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.box-shadow {
  padding: 50px;
  box-shadow: 1px 1px 50px $gray-light;
}
.rounded-2 {
  @include border-radius(2px);
}
.o-90 {
  opacity: 0.9;
}

.hash-link {
  display: block;
  position: relative;
  top: -$navbar-height;
  visibility: hidden;
}
