#page-home {
  section {
    padding-top: 30px;
    padding-bottom: 30px;

    &.banner {
      padding: 0;
      position: relative;

      .carousel {
        .carousel-indicators {
          bottom: 0px;
          margin-bottom: 5px;

          li {
            border: 0;
            background-color: white;
            opacity: 0.5;
            width: 10px;
            height: 10px;
            margin: 0;

            &.active {
              width: 10px;
              height: 10px;
              opacity: 1;
            }
          }
        }

        .carousel-inner {
          overflow: initial;

          .item {
            height: $min-body-height;

            .banner-background {
              position: absolute;
              top: 0 ;
              left: 0;
              right: 0;
              bottom: 0;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }

            .carousel-caption {
              top: 5%;
              left: 5%;
              right: 5%;
              bottom: inherit;
              text-align: left;
              padding: 20px;
              letter-spacing: 10px;

              :first-child {
                line-height: 38px;
              }
            }

            .pattern {
              position: absolute;
              top: 0;

              &.left {
                left: 0;
              }

              &.right {
                right: 0px;
              }
            }
          }
        }
      }

      .start {
        padding: 18.5px 30px;
        position: absolute;
        left: 50%;
        bottom: 5px;
        transform: translate(-50%, -50%);
        letter-spacing: 4px;
      }
    }

    &.what-we-offer {
      .cards {
        display: flex;
        flex-wrap: wrap;

        .card {
          margin-bottom: 20px;
        }
      }
    }

    &.benefits {
      position: relative;

      .background {
        position: absolute;
        height: 100%;

        &.left, &.right {
          margin-top: -30px;
        }

        &.left {
          background: radial-gradient(circle at bottom left, #f9ece4, #a6c7d2),
                      radial-gradient(circle at top right, #a6c7d2, #f9ece4);
        }

        &.right {
          right: 0;
        }
      }


      .right-sfc {
        position: absolute;
        right: 0;
        height: calc(100% + 60px);
        margin: -30px 0 0;
      }
    }

    &.how-to-invest {
      .steps {
        .top, .bottom {
          display: flex;

          .card {
            position: relative;
            .water-mark {
              font-weight: bold;
              opacity: 0.5;
              position: absolute;
              margin: 0;
              color: #ccc;
              z-index: -1;
              font-size: 4em;
              line-height: 30px;
            }

            .title {
              margin-top: 20px;
            }

            &.special-box {
              box-shadow: 5px 5px 30px #ccc;

              .water-mark, .title, .text {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
              }

              .water-mark {
                top: 38%;
              }

              .title {
                top: 35%;
              }

              .text {
                top: 60%;
                width: 100%;
                text-align: center;
              }
            }
          }
        }
      }
    }

    &.investment-committee-and-partners {
      position: relative;

      .background {
        position: absolute;
        height: 100%;
        margin-top: -30px;
        width: 100%;

        .top, .bottom {
          width: 100%;
        }

        .top {
          height: 45%;
        }

        .bottom {
          height: 55%;
          background: radial-gradient(circle at bottom left, #a6c7d2, #f9ece4),
                      radial-gradient(circle at top right, #f9ece4, #a6c7d2);
        }
      }

      .investment-committee {
        .carousel {
          background-color: white;

          .carousel-inner {
            height: 321px;

            .details {
              height: 321px;
              display: flex;

              .left, .right {
                height: 100%;
              }

              .left {
                margin-right: 10px;

                img {
                  width: 250px;
                }
              }

              .right {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                position: relative;

                a {
                  position: absolute;
                  right: 0;
                }

                .bio {
                  overflow: auto;

                  .line:not(:first-child) {
                    margin-top: 20px;
                  }
                }
              }
            }
          }

          .carousel-control {
            transform: translate(0, -50%);
            top: 50%;
            bottom: initial;
            background: none;
            width: 75px;

            &.left {
              left: 0;
              right: initial;
              margin-left: 20px;
            }

            &.right {
              left: initial;
              right: 0;
              margin-right: 20px;
            }
          }
        }
      }

      .partners {
        margin-top: 60px;
        .thumbnail {
          background-color: transparent;
          border: none;
          vertical-align: middle;
          img {
            height: 80px;
          }
        }
      }
    }

    &.philosophy {
      position: relative;

      .right {
        position: absolute;
        transform: translate(0, -50%);
        top: 50%;
      }

      .cards {
        display: flex;
        flex-wrap: wrap;

        .card {
          position: relative;
          margin-bottom: 30px;
          z-index: 1;
          &.image {
            > div {
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              height: 100%;
              width: 100%;
            }
          }

          .water-mark {
            font-weight: bold;
            opacity: 0.5;
            position: absolute;
            margin: 0;
            color: #ccc;
            z-index: -1;
            font-size: 4em;
            line-height: 30px;
          }

          .title {
            margin-top: 20px;
            z-index: 5;
          }
        }
      }
    }

    &.learn-more {
      // .blue-hover {
      //   &:hover {
      //     background: radial-gradient(ellipse at bottom left, #a6c7d2, transparent),
      //         radial-gradient(ellipse at top right, #ecf8fb, transparent);
      //     &.first {
      //       &::before {
      //         content: '';
      //         position: absolute;
      //         width: 100%;
      //         background: radial-gradient(ellipse at bottom left, #a6c7d2, transparent),
      //             radial-gradient(ellipse at top right, #ecf8fb, transparent);
      //       }
      //     }
      //   }
      // }
      .shadow {
        padding: 30px;
        box-shadow: 5px 5px 30px #ccc;

        i {
          font-size: 40px;
        }
      }
    }

    &.launch-today {
      background-color: $ahub-black;
    }
    &.media {
      .thumbnail {
        border: none;
        img {
          height: 80px;
        }
      }
    }
  }
}