#page-home {
  section {
    padding-top: 30px;
    padding-bottom: 30px;

    &.banner {
      padding: 20px;
      position: relative;

      .carousel {
        .carousel-indicators {
          bottom: 0px;
        }

        .carousel-inner {
          overflow: initial;

          .item {
            padding-left: 100%;
            padding-top: 45%;

            .banner-background {
              position: absolute;
              top: 0 ;
              left: 0;
              right: 0;
              bottom: 0;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }

            .carousel-caption {
              top: 5%;
              left: 5%;
              right: 5%;
              bottom: inherit;
              text-align: left;
              padding: 20px;
            }

            .pattern {
              position: absolute;
              top: -20px;

              &.left {
                left: -20px;
              }

              &.right {
                right: -20px;
              }
            }
          }
        }
      }

      .start {
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translate(-50%, -50%);
      }
    }

    &.what-we-offer {
      .cards {
        display: flex;
        flex-wrap: wrap;

        .card {
          margin-bottom: 20px;
        }
      }
    }

    &.benefits {
      background: radial-gradient(circle at bottom left, #f9ece4, #a6c7d2),
                  radial-gradient(circle at top right, #a6c7d2, #f9ece4);
      padding: 0;
    }

    &.how-to-invest {
      .steps {
        .top, .bottom {
          display: flex;

          .card {
            position: relative;
            .water-mark {
              font-weight: bold;
              opacity: 0.5;
              position: absolute;
              margin: 0;
              color: #ccc;
              z-index: -1;
              font-size: 4em;
              line-height: 30px;
            }

            .title {
              margin-top: 20px;
            }

            &.special-box {
              box-shadow: 5px 5px 30px #ccc;

              .water-mark, .title, .text {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
              }

              .water-mark {
                top: 38%;
              }

              .title {
                top: 35%;
              }

              .text {
                top: 60%;
                width: 100%;
                text-align: center;
              }
            }
          }
        }
      }
    }

    &.investment-committee {
      .committees {
        display: flex;
        justify-content: center;
        .members-list {
          list-style: none;
          li {
            display: inline-block;
            margin: 0 1em;
          }
        }

        .committee-img {
          height: 250px;
          width: 180px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;

          .blur {
            height: 100%;
            width: 100%;
            color: white;
            position: relative;

            > div {
              width: 100%;
              text-align: left;
              display: none;
              position: absolute;
              bottom: 0;
              padding-left: 10px;
              padding-right: 10px;
              padding-bottom: 10px;

              p {
                margin: 0;

                &:first-child {
                  font-size: 12px;
                }

                &:last-child {
                  font-size: 11px;
                }
              }
            }

            &:hover {
              background-color: rgba(0, 0, 0, 0.5);

              > div {
                display: block;
              }
            }
          }
        }
      }
    }
    &.partners {
      background: radial-gradient(circle at bottom left, #a6c7d2, #f9ece4),
                  radial-gradient(circle at top right, #f9ece4, #a6c7d2);

      .thumbnail {
        background-color: transparent;
        border: none;
        vertical-align: middle;
        img {
          height: 80px;
        }
      }
    }

    &.philosophy {

      .cards {
        display: flex;
        flex-wrap: wrap;

        .card {
          position: relative;
          margin-bottom: 30px;
          z-index: 1;
          &.image {
            > div {
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              height: 100%;
              width: 100%;
            }
          }

          .water-mark {
            font-weight: bold;
            opacity: 0.5;
            position: absolute;
            margin: 0;
            color: #ccc;
            z-index: -1;
            font-size: 4em;
            line-height: 30px;
          }

          .title {
            margin-top: 20px;
            z-index: 5;
          }
        }
      }
    }

    &.learn-more {
      // .blue-hover {
      //   &:hover {
      //     background: radial-gradient(ellipse at bottom left, #a6c7d2, transparent),
      //         radial-gradient(ellipse at top right, #ecf8fb, transparent);
      //     &.first {
      //       &::before {
      //         content: '';
      //         position: absolute;
      //         width: 100%;
      //         background: radial-gradient(ellipse at bottom left, #a6c7d2, transparent),
      //             radial-gradient(ellipse at top right, #ecf8fb, transparent);
      //       }
      //     }
      //   }
      // }
      .shadow {
        padding: 30px;
        box-shadow: 5px 5px 30px #ccc;

        i {
          font-size: 40px;
        }
      }
    }

    &.launch-today {
      background-color: $ahub-black;
    }
    &.media {
      .thumbnail {
        border: none;
        img {
          height: 80px;
        }
      }
    }
  }
}