.text-white {
  color: $white-text !important;
}
.text-gray {
  color: $gray-light !important;
}
.text-gray-dark {
  color: $gray-dark !important;
}

.text-bold {
  font-weight: bold;
}

.text-italics {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}
