$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------


@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Muli');

//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$white-text:             #fff !default;
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$gray-text:              #ccc !default;

$brand-primary:         #283A88 !default;
$brand-success:         #5cb85c !default;
$brand-info:            #29ABE2 !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$brand-linked-in:       #00A0DC !default;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

$btn-border-radius-base: 0 !default;

//== Buttons
//
//##
$btn-info-hover-bg:     #1a8dbe !default;
$btn-info-hover-border: #16769f !default;

//== Fonts
//
//##
$font-family-sans-serif:  "Lato", "Helvetica Neue", Helvetica, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         16px !default;
$btn-font-size-base:      16px !default;

//== Forms
//
//##
