#pages-startups-show {
  .basic-info {
    >div:first-child {
      dl {
        font-size: 20px;
        margin-top: 10px;

        dt {
          text-align: left;
          width: 165px;
        }
      }
    }

    >div:last-child {
      .name {
        margin-top: 0;
      }

      .overview {
        color: gray;
        font-size: 20px;
        margin-bottom: 10px;
      }

      .fundings {
        margin: 0 -5px;
        .funding-card {
          margin: 5px;
          padding: 10px;
          display: inline-block;
          border: 1px solid gray;
          border-radius: 10px;

          .amount {
            font-size: 20px;
          }

          .title {
            font-size: 18px;
            color: gray;
          }
        }
      }

      .bar {
        margin-bottom: 10px;

        .progress {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }

      .warning {
        .instruction {
          color: gray;
        }
      }
    }
  }

  .more-info {
    padding-top: 20px;
    >div:first-child {
      .sidebar-wrapper {
        ul {
          padding: 0;
          list-style: none;
          font-size: 18px;
          text-align: right;

          &.links {
            text-align: left;

            li {
              padding: 10px;

              i {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }

    >div:last-child {
      div.section {
        &:not(:first-child) {
          margin-top: 40px;
        }

        h2 {
          margin-top: 0;
        }
      }
    }
  }
}
