#page-in-person-validation {
  .video-group, .img-group {
    max-width: 100vw;
    position: relative;
  }

  .video-group {
    .help-text {
      background-color: rgba(0,0,0,0.3);
      position: relative;
      top: 0;
    }

    video {
      max-width: 100%;
    }
  }

  .img-group {
    margin: 0 auto;

    button {
      position: absolute;
      bottom: 15%;
    }

    .another {
      left: 10%;
    }

    .upload {
      right: 10%;
    }
  }
}
