#page-in-person-validation {
  .img-group {
    margin: 0 auto;
    position: relative;

    button {
      position: absolute;
      bottom: 0;
    }

    .another {
      left: 0;
    }

    .upload {
      right: 0;
    }
  }
}
