#page-my-settings {
  padding: 20px;
  min-height: $min-body-height;
  position: relative;

  .sidebar {
    position: absolute;
    width: 150px;
    min-height: calc(100% - 40px);

    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
      }
    }
  }

  .content {
    position: absolute;
    width: calc(100% - 150px);
    margin-left: 150px;
    min-height: calc(100% - 40px);
    border-left: 1px solid black;

    .tab {
      padding: 0 15px;

      .page-title {
        margin-top: 0;
      }
    }
  }
}
