#page-verify-email {
  #forms-verify-email {
    padding: 30px;
    border: 2px solid $gray-lighter;
    .form-title {
      font-size: $font-size-h2;
      color: $brand-primary;
    }
    label {
      color: $gray-light;
    }
    .btn {
      font-size: $btn-font-size-base;
      font-weight: 100;
      i {
        margin-right: 25px;
      }
    }
  }
}
