#page-verify-investor-status {
  #forms-verify-investor-status {
    padding: 30px;
    border: 2px solid $gray-lighter;
    .form-title {
      font-size: $font-size-h2;
      color: $brand-primary;
    }
    p {
      color: $gray-light;
      font-size: $font-size-large;
    }
    label {
      color: $gray;
      font-weight: 400;
      &.radio-group {
        span {
          margin-left: 10px;
          font-weight: 800;
        }
      }
    }
  }
}